#back {
  color: cornsilk;
  display: flex;
  margin-left: 0%;
  margin-top: 1%;
  border: 0px;
  border-collapse: collapse;
  background-color: #62b3d3;
}
#back:hover {
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
}
#google_img {
  margin-left: 43%;
}
#searchBar {
  margin-top: 0%;
  background-color: white;
}
#searchbar {
  margin-top: 3%;
  margin-left: 46%;
  background-color: rgb(255, 255, 255);
}
#img_text {
  margin-left: -4%;
  color: blue;
}
.content {
  margin-top: 5%;
}
#adv_text {
  margin-left: -83%;
  color: #d8501c;
  font-family: -webkit-pictograph;
}
.form {
  margin-left: -80%;
}
#vb1 {
  margin-left: 10%;
}
#vb2 {
  margin-top: 0.5%;
  margin-left: 5.15%;
}
#vb3 {
  margin-top: 0.5%;
  margin-left: 8.3%;
}
#state2 {
  margin-left: -82%;
}
#box {
  margin-top: 0.5%;
  margin-left: auto;
}
#adv_search {
  margin-top: 0.8%;
  color: cornsilk;
  background-color: #0077b6;
  margin-left: 15%;
  font-family: monospace;
  padding: 0.3%;
}
#adv_search:hover {
  background-color: rgb(20, 46, 46);
}
